footer {
  width: 100vw;
  background-color: #02559c;
  margin: 0;
  height: 8rem;
  margin-top: 2rem;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  justify-content: center;
  padding-top: 2rem;
}

footer ul li {
  font-size: 1.5rem;
  width: 20rem;
  list-style: none;
  cursor: pointer;
}
