/* Navbar CSS */

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
}

nav::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  background-color: #31303062;
  height: 3px;
  z-index: -1;
}

.mobile-nav {
  display: none;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-home {
  text-decoration: none;
  color: inherit;
}

.nav-title h1 {
  color: #02559c;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
  padding: 3px;
}

.nav-links li {
  position: relative;
  padding: 4px;
}

.nav-links li a:hover {
  color: black;
}
.nav-links li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  background-color: #02559c;
  height: 3px;
  transition: width 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}

.active-link a {
  background-color: #02559c;
  color: #fff !important;
  padding: 3px;
  border-radius: 5px;
}

.nav-icon {
  font-size: 2rem;
  cursor: pointer;
}

.mobile {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overflow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.548);
}

.mobile-sidenav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  left: 0;
  top: 0;
  height: 90vh;
  width: 60vw;
  background: antiquewhite;
  padding: 5vh 5vw;
  z-index: 1000;
}

.sidenav-links {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  font-size: 2rem;
}

.socials {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .mobile-nav {
    display: unset;
  }
  .nav-links {
    display: none;
  }
}
