nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
}

nav::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  background-color: #31303062;
  height: 3px;
  z-index: -1;
}

.mobile-nav {
  display: none;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-home {
  text-decoration: none;
  color: inherit;
}

.nav-title h1 {
  color: #ff7e1b;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: gray;
  font-size: 1.25rem;
}

.nav-links li {
  position: relative;
}

.nav-links li a:hover {
  color: black;
}
.nav-links li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  background-color: #ff7e1b;
  height: 3px;
  transition: width 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}

.active-link a {
  background-color: #ff7e1b;
  color: #000 !important;
  padding: 3px;
  border-radius: 5px;
}

.nav-icon {
  font-size: 2rem;
  cursor: pointer;
}

.mobile {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overflow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.548);
}

.mobile-sidenav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  left: 0;
  top: 0;
  height: 90vh;
  width: 60vw;
  background: antiquewhite;
  padding: 5vh 5vw;
  z-index: 1000;
}

.sidenav-links {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  font-size: 2rem;
}

.socials {
  display: flex;
  justify-content: space-around;
}

.sidenav-icon {
  color: black;
  font-size: 3rem;
}

.sideCart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.sideCart-content {
  position: absolute;
  top: 0;
  right: 0;
  background-color: antiquewhite;
  width: 60vw;
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.sideChart-icon {
  position: absolute;
  top: 20px;
  right: 50px;
}

.sideCart-items {
  height: 80vh;
  overflow-y: scroll;
  margin: auto;
  width: 90%;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.sideCart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sideCart-item img {
  height: 20vh;
}

.delete-button {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: palevioletred;
  border: 2px solid white;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.delete-button:hover {
  background-color: red;
}

.sideCart-checkout {
  padding-bottom: 3rem;
}

.clear {
  mix-blend-mode: multiply;
}

@media screen and (max-width: 800px) {
  .mobile-nav {
    display: unset;
  }
  .nav-links {
    display: none;
  }
}

@media screen and (max-width: 660) {
  .sideCart-content {
    min-width: 300px;
  }
}
