.meetStaff {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.person {
  width: 20%;
  padding: 8px;
}

.person img {
  width: 100px;
  height: 150px;
  border: 1px solid #000;
  margin: 0 auto;
}
